@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  color: var(--cosmic-pink);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--cosmic-pink-muted);
  }
}

.font-mono {
  font-family: "Space Grotesk", sans-serif;
  font-size: 5px;
  color: red;
}
